# run "git clean -ndX" to see what filed are actually ignored

autobuild
config.*
!config.sub
!config.guess
depcomp
install-sh
Makefile
missing
log
autom4te.cache
Build
dxflib/.deps
dxflib/Makefile
dxflib/*.a
Images/Makefile
Images/steamcad.desktop
Images/SteamCAD_ico.png
Images/steamcad_old.png
Linux/po
Linux/.deps
Linux/config.h
!Linux/config.h.in
Linux/Makefile
Linux/*.o
Manual/*.aux
Manual/*.dvi
Manual/*.idx
Manual/*.log
Manual/*.toc
Manual/Source/*.aux
Papers/Makefile
po/Makefile
Source/.deps
Source/*.o
Source/*.a
Source/Makefile
