# run "git clean -ndX" to see what filed are actually ignored

autobuild
config.*
!config.sub
!config.guess
!config.rpath
Makefile
libdxflib.log
log
SteamCAD
SteamCAD.log
SteamCAD.layout
SteamCAD.cbp
autom4te.cache
Build
Build32
Build64
dxflib/.deps
dxflib/Makefile
dxflib/*.o
dxflib/*.a
dxflib/.dirstamp
Images/Makefile
Images/steamcad.desktop
Images/SteamCAD_ico.png
Images/steamcad_old.png
Linux/po
Linux/.deps
Linux/.dirstamp
Linux/config.h
!Linux/config.h.in
Linux/Makefile
Linux/*.o
Linux/stamp-h1
Linux/SteamCAD
Manual/*.aux
Manual/*.dvi
Manual/*.idx
Manual/*.log
Manual/*.toc
Manual/Source/*.aux
Papers/Makefile
po/Makefile
Source/.deps
Source/.dirstamp
Source/*.o
Source/*.a
Source/Makefile
