#pragma code_page(1252)

#ifdef __GNUC__
#include <winnt.rh>
#include <winuser.rh>
#else
#include <winnt.h>
#include <winuser.h>
#endif
#include <winver.h>
#include <commctrl.h>
#include "SteamCAD.rh"

#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define RT_MANIFEST 24

LANGUAGE LANG_NEUTRAL, 0

#ifdef WIN64
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Win32/SteamCAD.exe.manifest.64"
#else
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Win32/SteamCAD.exe.manifest.32"
#endif

// ICO_EXIT ICON "Images/stock_exit_24.ico"

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    IDS_ANGLE "Angle: "
    IDS_RADIUS "Radius: "
    IDS_DISTANCE "Distance: "
    IDS_STEAMDRAWFILTER "Steam draw files (*.sdr)\1*.sdr\1All files\1*.*\1\1"
    IDS_NUMCOPIES "# of copies: "
    IDS_SELPOINTTOROTATE "Click a point to rotate about"
    IDS_SELLINETOMOVE "Click a line to move along"
    IDS_SELLINETOMIRROR "Click a line to mirror about"
    IDS_STEAMEXPORTFILTER "Adobe Acrobat (*.pdf)\1*.pdf\1PostScript (*.ps)\1*.ps\1Encapsulated PostScript (*.eps)\1*.eps\1PNG Image (*.png)\1*.png\1Scalable Vector (*.svg)\1*.svg\1Drawing Exchange Format (*.dxf)\1*.dxf\1\1"
    IDS_SELPOINTFROMMOVE "Click a point to move from"
    IDS_SELPOINTTOMOVE "Click a point to move to"
    IDS_SELPOINTFROMROT "Click a point to rotate from"
    IDS_SELPOINTTOROT "Click a point to rotate to"
    IDS_ERRORBASE "Error"
    IDS_EINVALIDNUMBER "Invalid number"
    IDS_EECCENTTOOBIG "Eccentricity magnitude must not exceed 100"
    IDS_ENEGATIVESEGLEN "Line segment length must not be negative"
    IDS_ELINESEGINVALID "Invalid pattern sequence (zero or no-value must not precede a non-zero value)"
    IDS_EODDSEGMENTS "The number of non-zero segments must be even"
    IDS_EINVALIDMASK "Invalid mask"
    IDS_ARROWNONE "None"
    IDS_ARROWSTD "Standard"
    IDS_ARROWFILL "Filled"
    IDS_ARROWPT "Point"
    IDS_ARROWSLASH "Slash"
    IDS_ARROWBACKSL "Backslash"
    IDS_WARNING "Warning"
    IDS_ONELINEFORPARABOLA "Exactly one line must be selected to insert a parabola"
    IDS_TWOLINESFORHYPERBOLA "Exactly two lines must be selected to insert a hyperbola"
    IDS_TWOLINESFORARCELLIPSE "Exactly two lines must be selected to insert an arc ellipse"
    IDS_ONECIRCFOREVOLV "Exactly one circle must be selected to insert an evolventa"
    IDS_FILECHANGED "The file has been changed. Do you want to save it?"
    IDS_TWOOBJSFORROUND "Exactly two objects must be selected to round corner"
    IDS_ONEOBJFORDIMEN "Exactly one object must be selected to insert a dimension"
    IDS_INFOBASE "Information"
END

MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N", IDM_FILENEW
        MENUITEM "&Open\tCtrl+O", IDM_FILEOPEN
        MENUITEM "&Save\tCtrl+S", IDM_FILESAVE
        MENUITEM "Save &as ...", IDM_FILESAVEAS
        MENUITEM SEPARATOR
        MENUITEM "Save se&lection ...", IDM_FILESAVESEL
        MENUITEM "&Include ...", IDM_FILEINCLUDE
        MENUITEM "&Export ...", IDM_FILEEXPORT
        MENUITEM SEPARATOR
        MENUITEM "&Properties", IDM_FILEPROPS
        //MENUITEM "Print set&up", IDM_FILEPRINTSET
        //MENUITEM "P&rint", IDM_FILEPRINT
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4", IDM_FILEEXIT
    END
    POPUP "&Mode"
    BEGIN
        MENUITEM "&Select\tEsc", IDM_MODESELECT
        MENUITEM "&Line\tL", IDM_MODELINE
        MENUITEM "&Circle\tC", IDM_MODECIRCLE
        MENUITEM "&Ellipse\tE", IDM_MODEELLIPSE
        MENUITEM "&Arc Ellipse\tA", IDM_MODEARCELLIPSE
        MENUITEM "&Hyperbola\tH", IDM_MODEHYPERBOLA
        MENUITEM "&Parabola\tP", IDM_MODEPARABOLA
        MENUITEM "&Spline\tS", IDM_MODESPLINE
        MENUITEM "E&volvent\tV", IDM_MODEEVEOLVENT
        MENUITEM "&Dimension\tD", IDM_MODEDIMEN
    END
    POPUP "&Edit"
    BEGIN
        //MENUITEM "&Copy\tCtrl+C", IDM_EDITCOPY
        //MENUITEM "Cu&t\tCtrl+X", IDM_EDITCUT
        //MENUITEM "&Paste\tCtrl+V", IDM_EDITPASTE
        MENUITEM "&Copy paralel\tCtrl+C", IDM_EDITCOPYPAR
        MENUITEM "&Move\tAlt+M", IDM_EDITMOVE
        MENUITEM "&Rotate\tCtrl+R", IDM_EDITROTATE
        MENUITEM "M&irror\tAlt+I", IDM_EDITMIRROR
        MENUITEM "Line &style\tAlt+S", IDM_EDITLINESTYLE
        MENUITEM SEPARATOR
        MENUITEM "Toggle s&nap\tAlt+N", IDM_EDITTOGGLESNAP
        MENUITEM "Paper units\tCtrl+P", IDM_EDITPAPERUNITS
        MENUITEM SEPARATOR
        MENUITEM "&Undo\tCtrl+Z", IDM_EDITUNDO
        MENUITEM "Re&do\tCtrl+Shift+Z", IDM_EDITREDO
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Best &Fit", IDM_VIEWFITALL
        MENUITEM "&Normal Size", IDM_VIEWACTSIZE
    END
    /*POPUP "&Snap to"
    BEGIN
        MENUITEM "&Element", IDM_SNAPELEMENT
        MENUITEM "End &point", IDM_SNAPENDPOINT
        MENUITEM "&Mid point", IDM_SNAPMIDPOINT
        MENUITEM "&Intersection", IDM_SNAPINTERSECT
        MENUITEM "&Control point", IDM_SNAPCTRLPOINT
    END*/
    POPUP "&Tools"
    BEGIN
        MENUITEM "&Knife\tAlt+K", IDM_TOOLSKNIFE
        MENUITEM "&Break apart\tAlt+B", IDM_TOOLSBREAK
        MENUITEM "&Round\tCtrl+B", IDM_TOOLSROUND
        MENUITEM "&Extend\tCtrl+E", IDM_TOOLSEXTEND
        MENUITEM "Mark con&flicts\tCtrl+F", IDM_TOOLSCONFLICTS
        MENUITEM "Measure &distance\tAlt+D", IDM_TOOLSMEASURE
        MENUITEM SEPARATOR
        MENUITEM "Re&scale and Units", IDM_TOOLSCALE
        MENUITEM "S&tatistics", IDM_TOOLSTAT
    END
    POPUP "&Help" HELP
    BEGIN
        MENUITEM "&Content", IDM_HELPCONTENT
    END
END

POPUPMENU MENU
BEGIN
    POPUP "EnableMenu"
    BEGIN
        MENUITEM "Enable snap", IDM_ENABLESNAP
    END
    POPUP "DisableMenu"
    BEGIN
        MENUITEM "Disable snap", IDM_DISABLESNAP
    END
END

1 ACCELERATORS
BEGIN
    "^N", IDM_FILENEW
    "^O", IDM_FILEOPEN
    "^S", IDM_FILESAVE
    //"^C", IDM_EDITCOPY
    //"^X", IDM_EDITCUT
    //"^V", IDM_EDITPASTE
    "^C", IDM_EDITCOPYPAR
    "^M", IDM_EDITMOVE
    "M", IDM_EDITMOVE, ALT, VIRTKEY
    "^R", IDM_EDITROTATE
    "^I", IDM_EDITMIRROR
    "I", IDM_EDITMIRROR, ALT, VIRTKEY
    "S", IDM_EDITLINESTYLE, ALT, VIRTKEY
    "^Z", IDM_EDITUNDO
    "Z", IDM_EDITREDO, CONTROL, SHIFT, VIRTKEY
    "^P", IDM_EDITPAPERUNITS
    "^K", IDM_TOOLSKNIFE
    "K", IDM_TOOLSKNIFE, ALT, VIRTKEY
    "B", IDM_TOOLSBREAK, ALT, VIRTKEY
    "^B", IDM_TOOLSROUND
    "^E", IDM_TOOLSEXTEND
    "^F", IDM_TOOLSCONFLICTS
    "D", IDM_TOOLSMEASURE, ALT, VIRTKEY
    "N", IDM_EDITTOGGLESNAP, ALT, VIRTKEY
    VK_DELETE, IDM_EDITDELETE, VIRTKEY
    //VK_BACK, IDM_EDITDELLASTPT
    VK_ESCAPE, IDM_MODESELECT
    VK_RETURN, IDM_EDITCONFIRM
    "L", IDM_MODELINE, VIRTKEY
    "C", IDM_MODECIRCLE, VIRTKEY
    "E", IDM_MODEELLIPSE, VIRTKEY
    "A", IDM_MODEARCELLIPSE, VIRTKEY
    "H", IDM_MODEHYPERBOLA, VIRTKEY
    "P", IDM_MODEPARABOLA, VIRTKEY
    "S", IDM_MODESPLINE, VIRTKEY
    "V", IDM_MODEEVEOLVENT, VIRTKEY
    "D", IDM_MODEDIMEN, VIRTKEY
END

FILESETUPDLG DIALOG 0, 0, 303, 223
CAPTION "File Setup"
STYLE DS_MODALFRAME | WS_SYSMENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "General", FSD_GB_GENERAL, 3, 2, 143, 158
    LTEXT "Paper size:", FSD_LBL_PAPSIZE, 10, 12, 60, 10
    COMBOBOX FSD_CB_PAPSIZE, 10, 22, 60, 60, CBS_DROPDOWNLIST | WS_TABSTOP
    AUTORADIOBUTTON "Portrait", FSD_RB_PORTRAIT, 80, 15, 50, 10
    AUTORADIOBUTTON "Landscape", FSD_RB_LANDSCAPE, 80, 26, 50, 10
    LTEXT "World length unit:", FSD_LBL_LENUNIT, 10, 42, 60, 10
    COMBOBOX FSD_CB_LENUNIT, 10, 52, 60, 60, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT "Scale:", FSD_LBL_SCALE, 80, 42, 60, 10
    EDITTEXT FSD_EDT_SCALENOMIN, 80, 52, 20, 13
    LTEXT ":", FSD_LBL_SCALECOLON, 103, 54, 5, 10
    EDITTEXT FSD_EDT_SCALEDENOM, 110, 52, 30, 13
    LTEXT "Angular unit:", FSD_LBL_ANGUNIT, 10, 72, 60, 10
    COMBOBOX FSD_CB_ANGUNIT, 10, 82, 60, 60, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT "Angular grid:", FSD_LBL_ANGGRID, 80, 72, 60, 10
    EDITTEXT FSD_EDT_ANGGRID, 80, 82, 30, 13
    LTEXT "deg", FSD_LBL_ANGGRIDUNIT, 115, 84, 20, 10
    LTEXT "Paper length unit:", FSD_LBL_PAPLENUNIT, 10, 102, 60, 10
    COMBOBOX FSD_CB_PAPLENUNIT, 10, 112, 60, 60, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT "X grid:", FSD_LBL_XGRID, 10, 132, 60, 10
    EDITTEXT FSD_EDT_XGRID, 10, 142, 30, 13
    LTEXT "mm", FSD_LBL_XGRIDUNIT, 45, 144, 20, 10
    LTEXT "Y grid:", FSD_LBL_YGRID, 80, 132, 60, 10
    EDITTEXT FSD_EDT_YGRID, 80, 142, 30, 13
    LTEXT "mm", FSD_LBL_YGRIDUNIT, 115, 144, 20, 10
    GROUPBOX "Graphic elements", FSD_GB_GRAPH, 3, 162, 143, 58
    LTEXT "Size units for lines, arrows and fonts:", FSD_LBL_GRAPHUNIT, 10, 172, 130, 10
    COMBOBOX FSD_CB_GRAPHUNIT, 10, 182, 60, 60, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT "Default line width:", FSD_LBL_DEFLINEWIDTH, 10, 204, 65, 10
    EDITTEXT FSD_EDT_DEFLINEWIDTH, 80, 202, 30, 13
    LTEXT "mm", FSD_LBL_LINEWIDTHUNIT, 115, 204, 20, 10
    GROUPBOX "Dimensioning", FSD_GB_DIMEN, 150, 2, 150, 110
    LTEXT "Default arrow shape:", FSD_LBL_ARROWSHAPE, 157, 12, 80, 10
    COMBOBOX FSD_CB_ARROWSHAPE, 157, 22, 111, 60, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT "Default arrow length:", FSD_LBL_ARROWLEN, 157, 42, 75, 10
    EDITTEXT FSD_EDT_ARROWLEN, 238, 40, 30, 13
    LTEXT "mm", FSD_LBL_ARROWLENUNIT, 273, 42, 18, 10
    LTEXT "Default arrow width:", FSD_LBL_ARROWWIDTH, 157, 60, 75, 10
    EDITTEXT FSD_EDT_ARROWWIDTH, 238, 58, 30, 13
    LTEXT "mm", FSD_LBL_ARROWWIDTHUNIT, 273, 60, 18, 10
    LTEXT "Length mask:", FSD_LBL_LENGTHMASK, 157, 78, 75, 10
    EDITTEXT FSD_EDT_LENGTHMASK, 206, 76, 90, 13
    LTEXT "Angular mask:", FSD_LBL_ANGLEMASK, 157, 96, 75, 10
    EDITTEXT FSD_EDT_ANGLEMASK, 206, 94, 90, 13
    GROUPBOX "Default Font", FSD_GB_FONT, 150, 115, 150, 87
    LTEXT "Face:", FSD_LBL_FACE, 157, 127, 25, 10
    COMBOBOX FSD_CB_FACE, 185, 125, 110, 60, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL | CBS_SORT
    AUTOCHECKBOX "Bold", FSD_CHB_BOLD, 157, 145, 40, 10
    AUTOCHECKBOX "Italic", FSD_CHB_ITALIC, 202, 145, 40, 10
    AUTOCHECKBOX "Underline", FSD_CHB_UNDERLINE, 247, 145, 40, 10
    LTEXT "Size:", FSD_LBL_FONTSIZE, 157, 160, 20, 10
    EDITTEXT FSD_EDT_FONTSIZE, 182, 158, 25, 13
    LTEXT "mm", FSD_LBL_FONTSIZEUNIT, 212, 160, 15, 10
    LTEXT "Base:", FSD_LBL_FONTBASE, 229, 160, 20, 10
    EDITTEXT FSD_EDT_FONTBASE, 254, 158, 25, 13
    LTEXT "mm", FSD_LBL_FONTBASEUNIT, 284, 160, 15, 10
    LTEXT "Sample 01234", FSD_LBL_FONTSMPL, 157, 173, 140, 15
    DEFPUSHBUTTON "&OK", IDOK, 248, 205, 50, 15
    PUSHBUTTON "&Cancel", IDCANCEL, 193, 205, 50, 15
END

LINESTYLEDLG DIALOG 0, 0, 128, 100
CAPTION "Line Style"
STYLE DS_MODALFRAME | WS_SYSMENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Line width:", LSD_LBL_LINEWIDTH, 5, 7, 60, 10
    EDITTEXT LSD_EDT_LINEWIDTH, 70, 5, 30, 13
    LTEXT "mm", LSD_LBL_LINEWIDTHUNIT, 105, 7, 20, 10
    LTEXT "Eccentricity:", LSD_LBL_LINEPERC, 5, 22, 60, 10
    EDITTEXT LSD_EDT_LINEPERC, 70, 20, 30, 13
    LTEXT "%", LSD_LBL_LINEPERCUNIT, 105, 22, 20, 10
    LTEXT "Line Pattern:", LSD_LBL_LINEPAT, 5, 47, 60, 10
    LTEXT "( mm )", LSD_LBL_LINEPATUNIT, 65, 47, 20, 10
    EDITTEXT LSD_EDT_LINEPAT1, 5, 60, 18, 13
    EDITTEXT LSD_EDT_LINEPAT2, 25, 60, 18, 13
    EDITTEXT LSD_EDT_LINEPAT3, 45, 60, 18, 13
    EDITTEXT LSD_EDT_LINEPAT4, 65, 60, 18, 13
    EDITTEXT LSD_EDT_LINEPAT5, 85, 60, 18, 13
    EDITTEXT LSD_EDT_LINEPAT6, 105, 60, 18, 13
    DEFPUSHBUTTON "&OK", IDOK, 73, 80, 50, 15
    PUSHBUTTON "&Cancel", IDCANCEL, 18, 80, 50, 15
END

DIMEDITDLG DIALOG 0, 0, 303, 155
CAPTION "Edit dimension"
STYLE DS_MODALFRAME | WS_SYSMENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Arrows", DED_GB_ARROWS, 3, 2, 296, 72 //128
    LTEXT "Left shape:", DED_LBL_LEFTSHAPE, 10, 12, 80, 10
    COMBOBOX DED_CB_LEFTSHAPE, 10, 22, 111, 60, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT "Left length:", DED_LBL_LEFTLEN, 10, 42, 75, 10
    EDITTEXT DED_EDT_LEFTLEN, 81, 40, 30, 13
    LTEXT "mm", DED_LBL_LEFTLENUNIT, 126, 42, 18, 10
    LTEXT "Left width:", DED_LBL_LEFTWIDTH, 10, 60, 75, 10
    EDITTEXT DED_EDT_LEFTWIDTH, 81, 58, 30, 13
    LTEXT "mm", DED_LBL_LEFTWIDTHUNIT, 126, 60, 18, 10
    LTEXT "Right shape:", DED_LBL_RIGHTSHAPE, 157, 12, 80, 10
    COMBOBOX DED_CB_RIGHTSHAPE, 157, 22, 111, 60, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT "Right length:", DED_LBL_RIGHTLEN, 157, 42, 75, 10
    EDITTEXT DED_EDT_RIGHTLEN, 238, 40, 30, 13
    LTEXT "mm", DED_LBL_RIGHTLENUNIT, 273, 42, 18, 10
    LTEXT "Right width:", DED_LBL_RIGHTWIDTH, 157, 60, 75, 10
    EDITTEXT DED_EDT_RIGHTWIDTH, 238, 58, 30, 13
    LTEXT "mm", DED_LBL_RIGHTWIDTHUNIT, 273, 60, 18, 10
    GROUPBOX "Font", DED_GB_FONT, 3, 75, 150, 75
    LTEXT "Face:", DED_LBL_FACE, 10, 87, 25, 10
    COMBOBOX DED_CB_FACE, 38, 85, 110, 60, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL | CBS_SORT
    AUTOCHECKBOX "Bold", DED_CHB_BOLD, 10, 105, 40, 10
    AUTOCHECKBOX "Italic", DED_CHB_ITALIC, 55, 105, 40, 10
    AUTOCHECKBOX "Underline", DED_CHB_UNDERLINE, 100, 105, 40, 10
    LTEXT "Size:", DED_LBL_FONTSIZE, 10, 120, 20, 10
    EDITTEXT DED_EDT_FONTSIZE, 35, 118, 25, 13
    LTEXT "mm", DED_LBL_FONTSIZEUNIT, 65, 120, 15, 10
    LTEXT "Sample 01234", DED_LBL_FONTSMPL, 10, 133, 140, 15
    GROUPBOX "Text", DED_GB_TEXT, 157, 75, 141, 50
    EDITTEXT DED_EDT_TEXT, 162, 87, 131, 13
    DEFPUSHBUTTON "&OK", IDOK, 248, 135, 50, 15
    PUSHBUTTON "&Cancel", IDCANCEL, 193, 135, 50, 15
END

SCALEDLG DIALOG 0, 0, 275, 125
CAPTION "Scale and Units"
STYLE DS_MODALFRAME | WS_SYSMENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Drawing scale", SD_GB_DRAWSCALE, 5, 3, 130, 117
    AUTOCHECKBOX "Scale drawing", SD_CHB_SCALEDRAW, 10, 15, 120, 10
    LTEXT "Old scale", SD_LBL_OLDSCALE, 10, 30, 60, 10
    LTEXT "1 : 1", SD_LBL_OLDSCALEVAL, 80, 30, 40, 10
    LTEXT "New scale", SD_LBL_NEWSCALE, 10, 45, 40, 10
    EDITTEXT SD_EDT_NEWSCALENOM, 55, 43, 30, 13
    LTEXT " : ", SD_LBL_NEWSCALECOL, 90, 45, 5, 10
    EDITTEXT SD_EDT_NEWSCALEDENOM, 100, 43, 30, 13
    AUTOCHECKBOX "Scale line widths", SD_CHB_SCLINEWIDTH, 10, 60, 120, 10
    AUTOCHECKBOX "Scale line patterns", SD_CHB_SCLINEPATS, 10, 75, 120, 10
    AUTOCHECKBOX "Scale dimension arrows", SD_CHB_SCDIMARROWS, 10, 90, 120, 10
    AUTOCHECKBOX "Scale labels", SD_CHB_SCLABS, 10, 105, 120, 10
    GROUPBOX "Display units", SD_GB_DISPUNITS, 140, 3, 130, 87
    AUTOCHECKBOX "Change dimensions", SD_CHB_CHANGEUNITS, 145, 15, 120, 10
    LTEXT "New length mask", SD_LBL_LENMASK, 145, 30, 60, 10
    EDITTEXT SD_EDT_LENMASK, 145, 42, 120, 12
    LTEXT "New angular mask", SD_LBL_ANGMASK, 145, 60, 60, 10
    EDITTEXT SD_EDT_ANGMASK, 145, 72, 120, 12
    DEFPUSHBUTTON "&OK", IDOK, 165, 105, 50, 15
    PUSHBUTTON "&Cancel", IDCANCEL, 220, 105, 50, 15
END

STATDLG DIALOG 0, 0, 175, 185
CAPTION "Drawing's statistics"
STYLE DS_MODALFRAME | WS_SYSMENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Total segments: ", STD_LBL_TOTAL, 5, 10, 100, 10
    LTEXT "0", STD_LBL_TOTALVAL, 110, 10, 60, 10
    LTEXT "Lines: ", STD_LBL_LINES, 5, 30, 100, 10
    LTEXT "0", STD_LBL_LINESVAL, 110, 30, 60, 10
    LTEXT "Circles: ", STD_LBL_CIRCLES, 5, 45, 100, 10
    LTEXT "0", STD_LBL_CIRCLESVAL, 110, 45, 60, 10
    LTEXT "Ellipses: ", STD_LBL_ELIPS, 5, 60, 100, 10
    LTEXT "0", STD_LBL_ELIPSVAL, 110, 60, 60, 10
    LTEXT "Arc Ellipses: ", STD_LBL_ARCELPS, 5, 75, 100, 10
    LTEXT "0", STD_LBL_ARCELPSVAL, 110, 75, 60, 10
    LTEXT "Hyperbolas: ", STD_LBL_HYPERS, 5, 90, 100, 10
    LTEXT "0", STD_LBL_HYPERSVAL, 110, 90, 60, 10
    LTEXT "Parabolas: ", STD_LBL_PARABS, 5, 105, 100, 10
    LTEXT "0", STD_LBL_PARABSVAL, 110, 105, 60, 10
    LTEXT "Splines: ", STD_LBL_SPLINES, 5, 120, 100, 10
    LTEXT "0", STD_LBL_SPLINESVAL, 110, 120, 60, 10
    LTEXT "Evolvents: ", STD_LBL_EVOLVS, 5, 135, 100, 10
    LTEXT "0", STD_LBL_EVOLVSVAL, 110, 135, 60, 10
    LTEXT "Dimensions: ", STD_LBL_DIMENS, 5, 150, 100, 10
    LTEXT "0", STD_LBL_DIMENSVAL, 110, 150, 60, 10
    DEFPUSHBUTTON "&OK", IDOK, 62, 165, 50, 15
END

SNAPDLG DIALOG 0, 0, 115, 50
CAPTION "Toggle snap"
STYLE DS_MODALFRAME | WS_SYSMENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
    AUTORADIOBUTTON "Enable snap", TSD_RB_ENABLESNAP, 10, 5, 100, 10
    AUTORADIOBUTTON "Disable snap", TSD_RB_DISABLESNAP, 10, 16, 100, 10
    DEFPUSHBUTTON "&OK", IDOK, 5, 30, 50, 15
    PUSHBUTTON "&Cancel", IDCANCEL, 60, 30, 50, 15
END
